@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap");
:root {
  --header-height: 60px;
  --header-button-height: 40px; }

* {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 11pt; }

*:focus {
  outline: none; }

body {
  background-color: #dddddd;
  background-image: url("images/pattern.png");
  margin: 0px 40px 40px 40px; }

h1 {
  font-size: 16pt;
  font-weight: bold;
  margin: 0px;
  color: #fff;
  text-shadow: 2px 2px 8px #000; }

h2 {
  font-size: 24pt;
  font-weight: bold;
  margin: 0px; }

header {
  height: var(--header-height);
  line-height: var(--header-height);
  background: #a8a8a8;
  background: linear-gradient(180deg, #3c6cc4 0%, #0f55a5 100%);
  color: #000;
  padding-left: 20px;
  position: relative;
  width: 820px;
  margin: 0 auto;
  border: 1px solid #000;
  border-width: 0px 1px 1px 1px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2); }

main {
  background-color: white;
  min-height: calc(100vh - var(--header-height) - 84px);
  border: 1px solid #000;
  border-width: 0px 1px 1px 1px;
  padding: 20px;
  width: 800px;
  margin: 0 auto;
  border-radius: 0px 0px 6px 6px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2); }

select:hover {
  cursor: pointer; }

input[type=checkbox] {
  background-color: #fff;
  border: 1px solid #000;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 12px;
  top: 12px;
  border-radius: 3px;
  -webkit-appearance: none; }

input[type=checkbox]:checked {
  background-color: #db1818;
  background-image: url(images/cross.png);
  background-size: 100%; }

input[type=checkbox]:hover {
  cursor: pointer; }

input[type=submit] {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #000;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  border: 1px solid #000;
  font-size: 12pt;
  border-radius: 4px; }

input[type=submit]:hover {
  cursor: pointer;
  background-color: #e6e6e6;
  color: #000; }

input[type=text], select {
  background-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-radius: 3px;
  border-width: 1px 1px 1px 1px;
  padding: 4px;
  border-color: rgba(0, 0, 0, 0.1); }

input[type=text]:hover, input[type=text]:focus, select:hover, select:focus {
  border-color: black; }

.header-elements {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff; }

.header-button {
  display: inline-block !important;
  text-decoration: none !important;
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0) !important;
  padding: 0px 16px 0px 16px !important;
  border: 0px solid #000 !important;
  font-size: 12pt !important;
  height: var(--header-height) !important;
  line-height: var(--header-height) !important;
  margin: 0px !important;
  border-radius: 0px !important;
  border-radius: 0px !important;
  text-shadow: none !important; }

.header-button:hover {
  background: #a8a8a8;
  background: linear-gradient(0deg, #3c6cc4 0%, #0f55a5 100%);
  cursor: pointer !important; }

.product {
  display: inline-block;
  width: calc(50% - 22px);
  height: 100px;
  line-height: 25px;
  margin: 6px;
  position: relative;
  text-align: center;
  border: 1px solid #bebebe !important;
  padding: 4px;
  border-radius: 3px;
  background-color: whitesmoke; }

.product:hover {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1); }

.dynamic-block {
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: none;
  margin: 5px;
  padding: 5px;
  border-radius: 3px; }

/*# sourceMappingURL=style.css.map */
