@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
:root {
  --header-height: 60px;
  --header-button-height: 36px; }

* {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12pt; }

*:focus {
  outline: none; }

body {
  background-color: #f0f0f0;
  margin: 0px 0px 0px 0px; }

h1 {
  font-size: 20pt;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  color: black; }

h2 {
  font-size: 24pt;
  font-weight: bold;
  margin: 0px; }

header {
  height: var(--header-height);
  line-height: var(--header-height);
  background-color: white;
  border: 3px solid #d8d8d8;
  border-width: 0px 0px 3px 0px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  position: relative;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1) !important; }

article {
  background-color: white;
  padding: 20px;
  border: 1px solid #d8d8d8;
  border-radius: 6px; }

main {
  background-color: rgba(255, 255, 255, 0);
  margin: 0 auto;
  padding: 20px;
  width: 1024px; }

select:hover {
  cursor: pointer; }

input[type=checkbox] {
  background-color: #fff;
  border: 2px solid #9b9b9b;
  height: 16px;
  width: 16px;
  position: absolute;
  left: 12px;
  top: 12px;
  border-radius: 4px;
  -webkit-appearance: none; }

input[type=checkbox]:checked {
  background-color: #ee0f0f;
  background-image: url(images/cross.png);
  background-size: 100%; }

input[type=checkbox]:hover {
  cursor: pointer; }

input[type=submit] {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #000;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  border: 2px solid #000;
  font-size: 12pt;
  border-radius: 4px; }

input[type=submit]:hover {
  cursor: pointer;
  background-color: white;
  color: #000; }

input[type=text], select {
  background-color: rgba(255, 255, 255, 0);
  padding: 4px 8px 4px 8px;
  border-style: solid;
  border-radius: 0px;
  color: #000;
  border-width: 0px 0px 2px 0px;
  border-color: #d8d8d8; }

input[type=text]:hover, select:hover {
  border-color: #bbbbbb; }

input[type=text]:focus, select:focus {
  border-color: #ff6600; }

.header-elements {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 40px;
  color: black; }

.header-button {
  display: inline-block !important;
  text-decoration: none !important;
  color: white !important;
  background-color: #ff6600 !important;
  padding: 0px 16px 0px 16px !important;
  border: 0px solid #000 !important;
  font-size: 14pt !important;
  height: var(--header-button-height4px) !important;
  line-height: var(--header-button-height) !important;
  margin-top: calc((var(--header-height) - var(--header-button-height)) / 2) !important;
  margin-left: 10px !important;
  border-radius: 4px !important;
  text-shadow: none !important;
  box-shadow: 0px 0px 0px 2px #ff6600 !important; }

.header-button:hover {
  background-color: white !important;
  color: black !important;
  box-shadow: 0px 0px 0px 2px #ff6600 !important;
  cursor: pointer !important; }

.product {
  display: inline-block;
  padding: 10px;
  width: 305px;
  height: 100px;
  line-height: 25px;
  margin: 5px;
  position: relative;
  text-align: center;
  background-color: white;
  border-radius: 6px;
  border: 1px solid #d8d8d8; }

.product:hover {
  border: 1px solid rgba(0, 0, 0, 0.5); }

.dynamic-block {
  border: 2px solid #d8d8d8;
  display: none;
  margin: 5px;
  padding: 5px;
  border-radius: 4px; }

/*# sourceMappingURL=style.css.map */
